<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': deviceStatus === 'On',
                'list-group-item-danger': deviceStatus === 'Off'}">
  <h4 [ngStyle]="{color: getColor()}">Device: {{ deviceName }} -- Status : {{ getSatus() }}</h4>
  <a [routerLink]="[id]">Détails</a>
  <button class="btn btn-success" (click)="onSwitchOn()" [disabled]="deviceStatus === 'On' ">On</button>
  <button class="btn btn-danger" (click)="onSwitchOff()" [disabled]="deviceStatus === 'Off' ">Off</button>
</li>
