<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" routerLinkActive="active" routerLink="auth">Authentification</button>
    <button class="btn btn-sm btn-outline-secondary" type="button" routerLinkActive="active" routerLink="devices">Devices</button>
  </form>
  <div class="navbar-right">
    <p>Vous etes connecté depuis {{ secondes }} sec</p>
  </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
